/***** ALERT BOX */
.success {
    background:rgba(187, 218, 186, 0.9);
    border:1px solid #81ab8d;
    width: 90%;
    padding: 4%;
    margin:0 auto;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 1.2em!important;
    text-align: center;
}

.danger {
  background:#FA3E3E;
  border:1px solid #3d3d3d;
  width: 35%;
  padding: 4%;
  position: relative;
  z-index: 999;
  margin:0 auto;
  margin-top: 25px;
  margin-left: 300px;
  font-size: 1.2em!important;
  text-align: center;
  color: #3d3d3d;
}

.danger p{
  background-color: rgba(255,255,255,0.7);
  padding: 3%;
}
